*{
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}


#pic-one{
    display: inline-block;
    width: 250px;
    
 
   
   
}
#pic-two{
    display: inline-block;
    width: 250px;
    margin-left: 60px;
   
}

#pic-three{
    display: inline-block;
    width: 250px;
    margin-left: 60px;

}

#pic-four{
    display: inline-block;
    width: 250px;
    margin-left: 60px;

}

#pic-five{
    display: inline-block;
    width: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
   
 
   
   
}
#pic-six{
    display: inline-block;
    width: 250px;
    margin-left: 60px;
   
}

#pic-seven{
    display: inline-block;
    width: 250px;
    margin-left: 60px;

}

#pic-eight{
    display: inline-block;
    width: 250px;
    margin-left: 60px;

}
h3{
    text-align: center;
    font-size: 20px;
}

p{
    text-align: center;
    font-family:  Arial;
    font-size: 15px;
}

#num{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 100px;
}

#num a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    letter-spacing: 13px;
    font-family: karma, sans-serif;
    margin-left: 20px;

    
}

#one{
    background-color: black;
    color: white !important;
    padding-left: 20px;
    
}

#about-text{
font-size: 40px;
font-weight: 100;
font-family: "Karma", sans-serif;
}

#img-food{

margin-left: 270px;
text-align: center;
}

#text{
    font-size: 35px;
}

#para{
    font-size: 20px;
    font-style: italic;
}

#line{
    font-size: 19px;
    line-height: 1.5;
    text-align: center;
    margin-top: 40px;
}

#footer1{
    display: inline-block;
    height: 200px;
    width: 300px;
    font-size: 20px;
    vertical-align: top;
}

#footer1 p{
    font-size: 20px;
    text-align: left;
    padding-bottom: 50px;
}

#footer2{
    display: inline-block;
    height: 300px;
    width: 350px;
    font-size: 20px;
    margin-left: 180px;
    margin-top: 0;
    padding-bottom: 50px;
    vertical-align: top;

   
}

#footer-text{
    padding-bottom: 50px;
}



label{
    font-size: 20px;
    padding-top: 20px;
}

#footer3{
    display: inline-block;
    height: 200px;
    width: 350px;
    font-size: 20px;
    margin-left: 80px;
    padding: 0%;
    vertical-align: top;
   

}

#footer3 a{

    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
    color: white;
    display: inline;
    background-color: rgb(136, 136, 136);
    
}


#travel{
    background-color: black !important;
   

}

